#navi ul {
    list-style-type: none; /* Remove bullets. */
    margin: 0px;
    padding: 0px;
    color: black;
}
#navi ul li{
    display: inline-block;
}
#navi ul li button{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
    margin: 10px;
}
#navi ul li button:hover {
    background-color: whitesmoke;
    text-decoration: overline underline;
}
#navi ul li button:visited {
    color: black;
}
#elephants {
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}

#navi {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}


#content {
    margin-top: 100px;
}
body{
    background-image: url("../resources/background3.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightgrey;
    color: whitesmoke;
}

#elephantPage{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    font-size: 25px;
}
#contact{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    padding: 10px;
    font-size: 20px;

}
#contactHeader{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10em
}
fieldset {
    padding: 1em;
    font:80%/1 sans-serif;
}
label {
    float:left;
    width:25%;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    font-weight:bold;
}
th, td{
    padding: 5px;
}